/* Common Styles (Keep these styles consistent with the landing page) */
.CreateUser {
  text-align: center;
  margin: 30px auto;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

/* Registration Form Container */
.CreateUser-form {
  /* margin: 50px; Adjust margin to match the landing page */
  max-width: 70%; /* Set a maximum width for the container */
  background-color: rgba(0, 0, 0, 0.6); /* Use the same background color as the landing page */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  padding: 20px;
  display: inline-block;
  text-align: left; /* Match the text alignment with the landing page */
}

.CreateUser-form label {
  font-size: 18px; /* Increase label font size for consistency */
}

.CreateUser-form input {
  margin-left: 5px;
  padding: 10px; /* Increase input field padding */
  font-size: 16px; /* Increase input font size for consistency */
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.CreateUser-form button {
  margin-top: 20px; /* Adjust margin to match the landing page */
  padding: 15px 30px;
  font-size: 20px;
  background-color: #121a46;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the button on hover */
.CreateUser-form button:hover {
  background-color: #121a46;
  transform: scale(1.05);
}

/* OTP Section */
.CreateUser-otpSection {
  display: flex;
  align-items: center;
}

.CreateUser-otpSection label {
  margin-right: 10px;
}

.CreateUser-otpButton {
  padding: 10px 20px; /* Increase padding for consistency */
  font-size: 16px; /* Increase font size for consistency */
}

/* Responsive Styles (Keep these consistent with the landing page) */
@media only screen and (max-width: 600px) {
  .CreateUser {
    text-align: center;
  }

  .CreateUser-form {
    /* margin: 50px; Adjust margin to match the landing page */
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    text-align: left;
  }

  .CreateUser-form input,
  .CreateUser-form button,
  .CreateUser-otpButton {
    max-width: 100%;
  }

  .CreateUser-otpSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .CreateUser-otpSection label {
    margin-bottom: 5px;
  }
}
