html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Update the App-header styles with vintage baseball jersey-style lettering */
.App-header-center {
  background-color: #121a46;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.App-header-left {
  background-color: #121a46;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.App-header-image-lg {
  width: 200px;
  padding: 20px;
  filter: invert(100%);
}

.App-header-image-sm {
  width: 100px;
  padding: 20px;
  filter: invert(100%);
}


.App-body {
  flex: 1; 
}

/* Footer section styles */
.App-footer {
  width: 100%;
  flex-shrink: 0; /* Prevent footer from shrinking */
  position: relative;
  background-color: #121a46;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}


.App-link {
  color: #61dafb;
}
